.app-header {
  display: flex;
  justify-content: space-between;

  &__title {
    color: white;
    text-decoration: none;
  }

  &__action {
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    padding: 6px 0;
    flex-direction: column;

    min-height: 150px !important;
  }

}
