
.search {
  &__container {
    position: relative;
  }


  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }


  &__input {
    border-radius: 1000px;
    border: 0;
    padding: 8px;

    &:focus {
      transform: scale(1.05);
      outline: none;
    }

    &:focus + &__icon {
      top: 0;
      left: 0;
    }

  }
}


